*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{ 
   
    justify-content: center;
    background-size: cover;
    background-repeat: initial;
    background-image: url(https://wallpaperbat.com/img/9727573-sugar-cotton-blue-clouds-vector-design.jpg);

}


.header {
    background-color: rgb(0, 171, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img{
    height: 230px;
    width: auto;
    transition: all 0.3s;
}


.header .logo {
    cursor: pointer;
}

.logo img:hover{
    transform: scale(1.2);
}

.header .opciones1-links {
    list-style: none;
    
}

.header .opciones1-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .opciones1-links li:hover {
    transform: scale(1.1);
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.header .opciones1-links a {
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .opciones1-links li a:hover {
    color: white;
}




.footer{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
}

#texto3 {
    flex-grow: 1;
}

.redes{
    gap: 40px;
    display: flex;
}

.redes img{
    height: 40px;
    width: auto;
}

.redes img:hover {
    transform: scale(1.2);
}

#modalImagen1{
    width: 300px;
    height: 300px;
}
