*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://wallpaperbat.com/img/9727573-sugar-cotton-blue-clouds-vector-design.jpg);
}

 /* CSS BARRA DE NAVEGACION */
.header {
    background-color: rgb(0, 171, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10%;
}

.header .logo img{
    height: 230px;
    width: auto;
    transition: all 0.3s;
}


.header .logo {
    cursor: pointer;
}

.logo img:hover{
    transform: scale(1.2);
}

.header .opciones1-links {
    list-style: none;
    
}

.header .opciones1-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .opciones1-links li:hover {
    transform: scale(1.1);
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.header .opciones1-links a {
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .opciones1-links li a:hover {
    color: white;
}

/* END CSS NAV */


/* CSS SECTION */
.section {
    margin: 20px 0;
    background-color: rgb(245, 245, 220);
    box-sizing: content-box;
    box-shadow: 50px;
}

.parrafo1 {
    padding-top: 25px;
    text-align: center;
    font-size: larger;
}

.parrafo2 {

    text-align: center;
    font-size: larger;
    background-color: rgb(245, 245, 220);
    box-shadow: 0 2px 5px rgb(245, 245, 220);
    box-sizing: border-box;
}


.footer{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 300px;
}

#texto3 {
    flex-grow: 1;
}

.redes{
    gap: 40px;
    display: flex;
}

.redes img{
    height: 40px;
    width: auto;
}

.redes img:hover {
    transform: scale(1.2);
}


#carouselExampleSlidesOnly{
    width: 300px;
    height: 300px;
margin: auto;
}
